@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&family=Libre+Baskerville&family=M+PLUS+1+Code:wght@100;300&family=Open+Sans:wght@300;400&family=Outfit:wght@200;300&family=Special+Elite&display=swap");

* {
  font-family: "Be Vietnam Pro", sans-serif;
  font-family: "Libre Baskerville", serif;
  font-family: "M PLUS 1 Code", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Outfit", sans-serif;
  font-family: "Special Elite", cursive;
}
h3 {
  font-weight: 40;
}

button {
  width: 80px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  margin: 10px;
}

.mainbody {
  background: rgb(148, 233, 220);
  background: radial-gradient(
    circle,
    rgba(148, 233, 220, 1) 20%,
    rgba(134, 177, 145, 1) 100%
  );

  display: flex;
  flex-direction: column;
  justify-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.firstButtons,
.secondButtons,
.thirdButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px;
}

.mainbody > div > div > div {
  width: 60px;
  justify-content: space-between;
  margin: 20px;
}

.drums {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 400px) {
  .mainbody {
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }

  .mainbody > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px;
  }

  .firstButtons,
  .secondButtons,
  .thirdButtons {
    width: 60px;
    justify-content: space-between;
  }

  #drumsimage {
    display: flex;
    justify-content: center;
    width: 300px;
  }
}
